.biography-section {
    
    margin-top: 15vh;
    margin-bottom: 12vh;
    padding: 0px;
    border-radius: 10px;
    background-color: #f7dbb0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    height: 62vh;
    width: 80vw;
    overflow-y: hidden;
    overflow-x: hidden;
    

}

.biography-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas para pantallas grandes */
    gap: 10vw;
    justify-content: space-around;
    align-items: center;
    margin-inline: 5vw;
    margin-trim: 0;
}

/* Ajuste para pantallas grandes */
.biography-image img {
    display: block;
    width: 35vw;
    height: auto;
    border-radius: 10px;
    margin-bottom: 5vh;
    
}

.biography-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #A47B5E;
    width: 30vw;
    text-align: center;
    margin-inline: auto;
    font-size: clamp(14px, 1.1rem, 17px);
}

.biography-text-p {
    font-size: 1vw;
    line-height: 1.5;
}

.biography-text-title {
    font-size: 1.1vw;
    line-height: 1.5;
}




/* Media Query para pantallas medianas (tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    .biography-section {
        margin-top: 2vh;
        margin-bottom: 10vh;
        height: 80vh;
        width: 85vw; /* Ajusta el ancho para tablets */
        padding: 15px;
    }

    .biography-grid {
        grid-template-columns: 1fr; /* Cambia a una columna en tablets */
        grid-template-rows: auto auto; /* Ubica la imagen encima o debajo del texto */
        gap: 8vw; /* Ajuste del espacio entre elementos */
        margin-inline: 5vw;
    }

    .biography-image img {
        width: 50vw; /* Ajusta el tamaño de la imagen para tablets */
        margin: 0 auto 5vh auto; /* Centra la imagen con margen inferior */
    }

    .biography-text {
        width: 70%; /* Ocupa una buena proporción del ancho en tablets */
        font-size: 1.2rem; /* Tamaño de fuente optimizado para tablets */
        text-align: center;
        margin: 0 auto;
    }

    .biography-text-p,
    .biography-text-title {
        font-size: 2.5vw; /* Ajusta el tamaño del texto en tablets */
        line-height: 1.4;
    }
}




/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .biography-section {
        margin-top: 20vh;
        height: 70vh;
        max-height: 1100px;
        padding-top: 0px;
        padding-bottom:0px ;
        
    }
    .biography-grid {
        grid-template-columns: 1fr; /* Cambia a una columna */
        grid-template-rows: auto auto; /* Permite que el texto y la imagen se coloquen uno debajo del otro */
        gap: 5vw; /* Reduce el espacio entre los elementos */
        margin-bottom: 0px;
    }

    .biography-image img {
        display: block;
        margin: auto;
        width: 70%;
        margin-top: 0px;
    }

    .biography-text {
        width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
        margin-bottom: 0px;
    }

    .biography-text-p,
    .biography-text-title {
        font-size: 3.5vw; /* Ajusta el tamaño del texto para pantallas pequeñas */
        margin-bottom: 0px;
    }
}