.contact-form-container {
  background-color: #d4b39f;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: row; /* Alineación en filas para pantallas grandes */
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Ancho máximo para evitar estiramientos */
}

.contact-form input, .contact-form textarea {
  margin-bottom: 2vh;
  padding: 1vh;
  width: 100%; /* Ocupa todo el ancho disponible */
  border: 1px solid var(--primary-color);
  border-radius: 10%;
}

.contact-form button {
  padding: 1vh;
  background: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Ocupa todo el ancho disponible */
}

.contact-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 5%;
  margin-bottom: 20px;
}

.titleh2 {
  font-size: 1.3rem;
  margin: 0px;
  margin-bottom: 5vh;
  margin-top: 3vh;
  color: #A47B5E;
}

/* Responsive para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .contact-form-container {
    flex-direction: column; /* Colocar imagen arriba del formulario */
  }

  .contact-image {
    width: 50%; /* Reducir tamaño de la imagen */
    height: auto;
    margin-bottom: 0px;
  }

  .contact-form {
    width: 90%; /* Hacer el formulario más grande en pantallas pequeñas */
    max-width: none; /* Quitar restricción de ancho máximo */
  }

  .contact-form input, .contact-form textarea {
    width: 90%; /* Asegurarse de que los inputs ocupen todo el ancho */
    min-width: 200px; /* Forzar un ancho mínimo en pantallas pequeñas */
    max-height: 50px;
    margin:0px;
    padding:0px;
  }

  .contact-form button {
    width: 90%; /* Asegurarse de que el botón ocupe todo el ancho */
    min-width: 100px;
  }

  .titleh2 {
    font-size: 1.5rem; /* Reducir tamaño del título */
    margin-bottom: 2vh;
  }
}
