.contact-form-container {
  background-color: #d4b39f;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: row; /* Alineación en filas para pantallas grandes */
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Sombra */
  width: 40vw;
  height: 60vh;
  max-height: 100vh;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 400px; /* Ancho máximo para evitar estiramientos */
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 1rem;
  padding: 0.75rem;
  width: 90%; /* Ancho completo del contenedor */
  min-width: 200px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  
}

.contact-form textarea {
  height: 15vh; /* Tamaño ajustable según la altura */
}

.contact-form button {
  padding: 0.75rem;
  background: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%; /* Ancho completo del contenedor */
}

.contact-form button:hover {
  background: var(--secondary-color);
  color: black;
}

.contact-image {
  display: flex;
  width: 20vw;
  max-width: 600px;
  height: auto;
  border-radius: 5%;
}

.titleh2 {
  font-size: clamp(20px, 1.8rem, 28px);
  margin: 3vh 0 5vh; /* Combina márgenes para simplificar */
}



/* Media Query para pantallas medianas (tablets) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .contact-form-container {
    flex-direction: column; /* Organiza la imagen sobre el formulario en tablets */
    width: 50vw;
    height: auto;
    padding: 15px;
    margin: 15px;
  }

  .contact-image {
    display: block;
    width: 50%; /* Tamaño moderado de la imagen para tablets */
    max-width: 500px;
    height: auto;
    margin: 0 auto 10px; /* Centramos la imagen horizontalmente y ajustamos el margen inferior */
  }

  .contact-form {
    width: 90%; /* Se amplía el formulario para ocupar más espacio */
    max-width: 450px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 90%; /* Inputs más anchos para mejor usabilidad en tablets */
    padding: 0.5rem; /* Ajuste de padding */
    font-size: 1rem; /* Fuente optimizada para tablets */
  }

  .contact-form textarea {
    height: 12vh; /* Ajuste en altura */
  }

  .contact-form button {
    width: 60%; /* Ancho de botón adaptado */
    font-size: 1rem;
  }

  .titleh2 {
    font-size: 1.6rem; /* Ajuste de título para tablets */
    margin: 2vh 0;
  }
}







/* Responsive para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .contact-form-container {
      flex-direction: column; /* Colocar imagen arriba del formulario */
      height: 70vh;
      width: 78vw;
      margin-inline: 0;
  }
  .contact-form textarea {
    height: 10vh; /* Tamaño ajustable según la altura */
  }

  .contact-image {
      display: block; /* No es necesario 'flex' en la imagen */
      width: 60%; /* Reducir tamaño de la imagen */
      height: auto;
      margin: 0 auto; /* Centrar horizontalmente */
      margin-bottom: 0px;
      max-height: 400px;
  }

  .contact-form {
      width: 90%; /* Hacer el formulario más grande en pantallas pequeñas */
      max-width: none; /* Quitar restricción de ancho máximo */
  }

  .contact-form input,
  .contact-form textarea {
      width: 80%; /* Asegurarse de que los inputs ocupen todo el ancho */
      min-width: 200px; /* Forzar un ancho mínimo en pantallas pequeñas */
      margin: 0; /* Eliminar márgenes */
      padding: 0.3rem; /* Ajuste de padding */
      
  }

  .contact-form button {
      width: 50%; /* Asegurarse de que el botón ocupe todo el ancho */
      min-width: 100px;
  }

  .titleh2 {
      font-size: 1.5rem; /* Reducir tamaño del título */
      margin-bottom: 2vh;
  }
}
