/* Estilos generales para el contenedor de la galería */
.custom-image-gallery-container {
    position: relative;
    width: 100%;
    max-width: 1200px; /* Añadir un max-width para limitar el tamaño en pantallas grandes */
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin: 0 auto; /* Centrar horizontalmente en la página */
    padding: 10px;
    background-color: #BE9380;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos para la galería de imágenes */
.custom-image-gallery {
    display: flex;
    justify-content: center; /* Asegurarse de que esté centrado */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    width: 100%;
    max-width: 1000px; /* Añadir un max-width */
    
    border-radius: 10px;
}

.custom-image-gallery::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* Estilos para las imágenes en la galería */
.custom-image-gallery img {
    width: auto;
    height: 65vh;
    object-fit: cover;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
    max-height: 80px;
}




/* Media queries para pantallas medianas (tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
    .custom-image-gallery-container {
        width: 80%; /* Ajuste del ancho en pantallas de tablet */
        padding: 15px; /* Ajusta el padding para tablets */
    }

    .custom-image-gallery {
        width: 100%; /* Asegúrate de que ocupe el 100% del ancho disponible */
    }

    .custom-image-gallery img {
        height: 50vh; /* Ajusta la altura de las imágenes en tablets */
    }

    .custom-image-gallery .image-gallery-thumbnail {
        width: 8vh;
        height: 8vh; /* Tamaño de las miniaturas optimizado para tablets */
    }

    .custom-image-gallery .image-gallery-thumbnail img {
        height: 8vh; /* Ajusta la altura de las miniaturas */
    }

    .custom-image-gallery .image-gallery-slide img {
        max-height: 60vh; /* Ajusta la altura máxima para una mejor visualización en tablets */
    }

    .custom-image-gallery .image-gallery-thumbnails-container {
        display: flex;
        justify-content: center; /* Centra las miniaturas en pantallas de tablet */
    }
}









/* Media queries para pantallas pequeñas (smartphones) */
@media (max-width: 768px) {
    .custom-image-gallery-container {
        width: 70%; /* Ajuste del ancho en pantallas pequeñas */
        padding: 10px;
    }

    .custom-image-gallery {
        width: 100%; /* Asegúrate de que ocupe el 100% del ancho disponible */
    }

    .custom-image-gallery img {
        height: 40vh; /* Ajusta la altura de las imágenes en smartphones */
    }

    .custom-image-gallery .image-gallery-thumbnail {
        width: 6vh;
        height: 6vh;
    }

    .custom-image-gallery .image-gallery-thumbnail img {
        height: 6vh;
    }

    .custom-image-gallery .image-gallery-slide img {
        max-height: 50vh;
    }

    .custom-image-gallery .image-gallery-thumbnails-container {
        display: flex;
        justify-content: center; /* Centra las miniaturas en pantallas pequeñas */
    }
}
