.footer {
    display: flex;
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center;     /* Centrar contenido verticalmente */
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--primary-color);
    color: white;
    padding: 1rem;
    text-align: center;
    z-index: 1000;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5);
    border-top-left-radius: 10px;  
    border-top-right-radius: 10px; 
    gap: 20px; /* Espacio entre los elementos dentro del footer */
}

.footer-text {
    font-size: 16px;
    margin-right: 20px; /* Espacio adicional si lo necesitas */
    color: white; /* Mejorar contraste con el fondo */
}

.footer a {
    display: flex;
    align-items: center;
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

.footer a:hover {
    color: var(--secondary-color);
    color: black;
}

.footer img {
    margin: 0 0.25vw; /* Espacio horizontal de las imágenes */
    width: 20px; /* Ajustar el tamaño de la imagen si es necesario */
    height: auto; 
}

/* Responsive para tablets (pantallas medianas) */
@media (max-width: 1024px) {
    .footer {
        padding: 15px;
        gap: 15px; /* Reduce el espacio entre los elementos */
    }

    .footer-text {
        font-size: 14px; /* Ajusta el tamaño del texto en pantallas medianas */
        margin-right: 15px;
    }

    .footer img {
        width: 30px; /* Reduce el tamaño de las imágenes */
    }
}

/* Responsive para smartphones (pantallas pequeñas) */
@media (max-width: 768px) {
    .footer {
        padding: 20px;
        gap: 1px; /* Reduce el espacio entre los elementos */
    }

    .footer-text {
        font-size: 12px; /* Reduce aún más el tamaño del texto */
        margin-right: 0;
        text-align: center; /* Centra el texto */
    }

    .footer img {
        width: 20px; /* Ajusta el tamaño de las imágenes para pantallas pequeñas */
    }
}
