.section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .section-content {
    
    padding: 0px;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  

.section-box {
    height: 100%; 
    background-size: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1%; 
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;

}
